@import '../../globals';

.glow_text{
	// background-image: url('../../img/home-hero.jpg');
	// background-size: cover;
    // min-height: 150vh;
    // width: 100%;
    // height: auto;
	.glow{
		font-weight: 400;
		filter: blur(2px) brightness(1) opacity(0.36) saturate(4);
		font-family: Menlo, Monaco, 'Courier New', monospace;
		.green{
			color: #005a06;
			text-shadow: 0 0 1px #005a06, 0 0 2px #005a06, 0 0 5px #44ca00;
		}
		.red{
			color: #5a0000;
			text-shadow: 0 0 1px #5a0000, 0 0 2px #5a0000, 0 0 5px #ca0000;
		}
		.yellow{
			color: #7f8200;
			text-shadow: 0 0 1px #7f8200, 0 0 2px #7f8200, 0 0 5px #ffee29;
		}
		.blue{
			color: #00235a;
			text-shadow: 0 0 1px #00235a, 0 0 2px #00235a, 0 0 5px #005eea;
		}
		.purple{
			color: #51005a;
			text-shadow: 0 0 1px #51005a, 0 0 2px #51005a, 0 0 5px #ca009f;
		}
	}
}